# ============================
# PYTHON BACKEND IGNORE
# ============================

backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.pytest_cache/

# Python env files
*.env

# Do NOT upload generated encrypted files
backend/*.bin
backend/*.csv
backend/*.zip

# Compiled executables
backend/*.o
backend/*.out
backend/*.exe

# ============================
# FRONTEND IGNORE
# ============================

frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env

# React cache
frontend/.parcel-cache/
frontend/.next/
frontend/.vite/

# ============================
# SYSTEM / EDITOR
# ============================

.vscode/
.DS_Store
Thumbs.db
